// --------------------------------------------------
// Typography
// --------------------------------------------------

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 64px;
  color: #28283D;

  @media (max-width: $tabletBreakpoint) {
    font-size: 48px;
    line-height: 48px;
  }

  @media (max-width: $mobileBreakpoint) {
    font-size: 40px;
    line-height: 44px;
  }
}

h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  color: #28283D;
}

.overline {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  color: #4D96A9;
}

.readingText {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #87879D;
}
